
*.png
ore_mapping/PlanetGeneratorDefinitions.sbc
*.txt
ore_mapping/Generating files containing all ore GPSs/PlanetGeneratorDefinitions.sbc
.idea/*
*.bak
rover_autopilot_gg_vanilla/.idea/*
*.pickle
*.xcf
*.sbc
*.dll
*.xml
*.cache
*.exe
rover_autopilot_gg_vanilla/TA_mk3_with_mdk/IngameScript1/obj*
rover_autopilot_gg_vanilla/TA_mk3_with_mdk/IngameScript1/bin*
rover_autopilot_gg_vanilla/TA_mk4_with_mdk/TA_mk4_with_mdk/TA_mk4_with_mdk/obj/x64/Debug/TA_mk4_with_mdk.pdb
rover_autopilot_gg_vanilla/TA_mk4_with_mdk/TA_mk4_with_mdk/TA_mk4_with_mdk/obj/x64/Debug/TA_mk4_with_mdk.exe.config
rover_autopilot_gg_vanilla/TA_mk4_with_mdk/TA_mk4_with_mdk/TA_mk4_with_mdk/obj/x64/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
rover_autopilot_gg_vanilla/TA_mk4_with_mdk/TA_mk4_with_mdk/TA_mk4_with_mdk/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
rover_autopilot_gg_vanilla/TA_mk4_with_mdk/TA_mk4_with_mdk/TA_mk4_with_mdk/bin/TA_mk4_with_mdk.pdb
rover_autopilot_gg_vanilla/TA_mk4_with_mdk/TA_mk4_with_mdk/TA_mk4_with_mdk/bin/TA_mk4_with_mdk.exe.config
rover_autopilot_gg_vanilla/TA_mk4_with_mdk/TA_mk4_with_mdk/TA_mk4_with_mdk/bin/MDK/MDK.paths.props
rover_autopilot_gg_vanilla/TA_mk4_with_mdk/TA_mk4_with_mdk/.vs/TA_mk4_with_mdk/v16/.suo
stv_mat_mk1_v2/stv_mat_mk1_v2/*
*.zip
*.vsidx
*.bin
*.lock
*.suo
rover_autopilot_gg_vanilla/Nouveau dossier (3)/displayAPickle.py
ore_mapping/OMSS Ore Mapping Star System/2. OMSS search for ores near this position.py
ore_mapping/OMSS Ore Mapping Star System/2. OMSS search for ores near this position.py
release-w-a-q-z.py
*.pdb
stv_mat_mk1_v2/Mdk2.stv_no_mat_v2/.vs/Mdk2.stv_no_mat_v2/v17/.futdcache.v2
stv_mat_mk1_v2/Mdk2.stv_no_mat_v2/.vs/Mdk2.stv_no_mat_v2/v17/DocumentLayout.json
stv_mat_mk1_v2/Mdk2.stv_no_mat_v2/Mdk2.stv_no_mat_v2.mdk.local.ini
stv_mat_mk1_v2/Mdk2.stv_no_mat_v2/obj/Debug/netframework48/.NETFramework,Version=v4.8.AssemblyAttributes.cs
stv_mat_mk1_v2/Mdk2.stv_no_mat_v2/obj/Debug/netframework48/Mdk2.stv_no_mat_v2.GeneratedMSBuildEditorConfig.editorconfig
stv_mat_mk1_v2/Mdk2.stv_no_mat_v2/obj/Mdk2.stv_no_mat_v2.csproj.nuget.dgspec.json
stv_mat_mk1_v2/Mdk2.stv_no_mat_v2/obj/Mdk2.stv_no_mat_v2.csproj.nuget.g.props
stv_mat_mk1_v2/Mdk2.stv_no_mat_v2/obj/Mdk2.stv_no_mat_v2.csproj.nuget.g.targets
stv_mat_mk1_v2/Mdk2.stv_no_mat_v2/obj/project.assets.json
stv_mat_mk1_v2/Mdk2.stv_no_mat_v2/obj/x64/Debug/netframework48/.NETFramework,Version=v4.8.AssemblyAttributes.cs
stv_mat_mk1_v2/Mdk2.stv_no_mat_v2/obj/x64/Debug/netframework48/Mdk2.stv.1241D97D.Up2Date
stv_mat_mk1_v2/Mdk2.stv_no_mat_v2/obj/x64/Debug/netframework48/Mdk2.stv_no_mat_v2.GeneratedMSBuildEditorConfig.editorconfig
stv_mat_mk1_v2/Mdk2.stv_no_mat_v2/obj/x64/Debug/netframework48/Mdk2.stv_no_mat_v2.sourcelink.json
*.v2
