
*.png
ore_mapping/PlanetGeneratorDefinitions.sbc
*.txt
ore_mapping/Generating files containing all ore GPSs/PlanetGeneratorDefinitions.sbc
.idea/*
*.bak
rover_autopilot_gg_vanilla/.idea/*
*.pickle
*.xcf
*.sbc
*.dll
*.xml
*.cache
*.exe
rover_autopilot_gg_vanilla/TA_mk3_with_mdk/IngameScript1/obj*
rover_autopilot_gg_vanilla/TA_mk3_with_mdk/IngameScript1/bin*
rover_autopilot_gg_vanilla/TA_mk4_with_mdk/TA_mk4_with_mdk/TA_mk4_with_mdk/obj/x64/Debug/TA_mk4_with_mdk.pdb
rover_autopilot_gg_vanilla/TA_mk4_with_mdk/TA_mk4_with_mdk/TA_mk4_with_mdk/obj/x64/Debug/TA_mk4_with_mdk.exe.config
rover_autopilot_gg_vanilla/TA_mk4_with_mdk/TA_mk4_with_mdk/TA_mk4_with_mdk/obj/x64/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
rover_autopilot_gg_vanilla/TA_mk4_with_mdk/TA_mk4_with_mdk/TA_mk4_with_mdk/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
rover_autopilot_gg_vanilla/TA_mk4_with_mdk/TA_mk4_with_mdk/TA_mk4_with_mdk/bin/TA_mk4_with_mdk.pdb
rover_autopilot_gg_vanilla/TA_mk4_with_mdk/TA_mk4_with_mdk/TA_mk4_with_mdk/bin/TA_mk4_with_mdk.exe.config
rover_autopilot_gg_vanilla/TA_mk4_with_mdk/TA_mk4_with_mdk/TA_mk4_with_mdk/bin/MDK/MDK.paths.props
rover_autopilot_gg_vanilla/TA_mk4_with_mdk/TA_mk4_with_mdk/.vs/TA_mk4_with_mdk/v16/.suo
